li.categoryItem {
    padding: 10px;
    list-style: none;
}

.filterButtonActive {
    background-color: crimson;
}

.filterButton {
    width: 100%;
    border-radius: 25px;
    transition: 250ms;
}

.filterButton:hover {
    background-color: rgb(102, 9, 27);
}