.cartSize::after {
    content: '"';
}

.cartListContainer {
    max-height: 95%;
    overflow-y: scroll;
}

.cartValue {
    margin-bottom: 25px
}

.removeCartItem {
    position: absolute;
    top: 0;
    right:0;
    
}

.cartItem {
    position: relative;
}