.App-header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p, h1, h2, h4, a {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.productCategoryContainer {
    height: 90vh;
    width: 200px;
    border: 1px solid black;
    padding: 20px;
}

.productListContainer {
    height: 90vh;
    width: 600px;
    border: 1px solid black;
    padding: 20px;
}

.cartContainer {
    height: 90vh;
    width: 200px;
    border: 1px solid black;
    padding: 20px;
}

.App {
    background-image: url(pizzaBackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.contentWidth {
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}

.cartValue {
    margin-bottom: 25px
}

.Price::before {
    content: '£'
}

button {
    cursor: pointer;
    transition: 250ms;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(65, 9, 17);
}